apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloweb
  namespace: platform
  labels:
    app: hello
spec:
  selector:
    matchLabels:
      app: hello
      tier: web
  template:
    metadata:
      labels:
        app: hello
        tier: web
    spec:
      containers:
      - name: hello-app
        image: asia-south1-docker.pkg.dev/searce-playground-v1/jenkins/hello-app:
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 200m
